<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <h1>Welcome: <%=email%></h1>
        <form action="/logout" method="get">
            <input type="submit" value="Logout">
        </form>
    </body>
</html>